NODE_ENV="development"
VITE_SERVER_URL="http://localhost:3009"
PORT=3009
LOG_LEVEL="debug"
DATABASE_URL=postgres://anceda:anceda@localhost:5432/anceda

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3009
